<h1>Lobby</h1>


<p>Types</p>
<form action="/action_page.html">
    <label for="players">Players</label>
    <select name="players" id="players">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
    <br>
    <label for="guesstime">Guess Time</label>
    <select name="guesstime" id="guesstime">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select>
    <br>
    <label for="rounds">Rounds</label>
    <select name="rounds" id="rounds">
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
    <br>
    <label for="referencenote">Reference Note</label>
    <select name="referencenote" id="referencenote">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    <br>
    <label for="sharpflat">Sharps/Flats</label>
    <select name="sharpflat" id="sharpflat">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    <br>
    <input type="checkbox" id="notes" name="notes" value="notes">
    <label for="notes">Notes</label><br>
    <input type="checkbox" id="chords" name="chords" value="chords">
    <label for="chords">Chords</label><br>
    <input type="checkbox" id="scales" name="scales" value="scales">
    <label for="scales">Scales</label><br>
    <input type="checkbox" id="intervals" name="intervals" value="intervals">
    <label for="intervals">Intervals</label><br>
    <input type="submit" value="Submit">
</form>    

<button>Start</button>